certifi==2019.9.11
Click==7.0
Flask==1.1.1
Flask-WTF==0.14.2
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
npm==0.1.1
optional-django==0.1.0
pipenv==2018.11.26
python-dotenv==0.10.3
virtualenv==16.7.6
virtualenv-clone==0.5.3
Werkzeug==0.16.0
WTForms==2.2.1
