<header>
    <nav>
        <ul class="nav nav-pills">
            <li class="nav item"><a href="{{ url_for ('index') }}" class="nav-link activate">Home</a></li>
            <li class="nav item"><a href="count_and_name.html" class="nav-link activate">ammount of children</a></li>
            <li class="nav item"><a href="date_joined_and_personal_information.html" class="nav-link activate">details about the kids</a></li>
            <li class="nav item"><a href="attendence.html" class="nav-link activate">attendence(login required)</a></li>
        </ul>
    </nav>
    <hr style="clear:both">
</header>